[Desktop Entry]
Encoding=UTF-8
Name=OrbitalCoin
Comment=OrbitalCoin P2P Cryptocurrency
Comment[fr]=OrbitalCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=OrbitalCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/OrbitalCoin
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/orbitalcoin;
Categories=Office;
